
body {
	background-color: #FFF;
}

h1 {
   color: #FAA;
}
.registrationTableWrapper table td, .registrationTableWrapper table th {
	border-top: None !important;
}
.leftmenu .list-group-item:first-child, .leftmenu .list-group-item:last-child {
	border-radius: 0px !important;
}
.box {
	width: 80px;
	height: 50px;
	display: block;
}
.loginWrapper table {
	margin-bottom: 0px;
}
.ms-container .bg-danger {
	padding-left: 10px;
	color: #FFF;
	background-color: #000;
}

.ms-container .ms-list {
	border-radius: 0px !important;
}
input.ng-invalid.ng-dirty,select.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty {
	background-color: #FA787E;
}

input.ng-valid.ng-dirty, select.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty{
	background-color: #78FA89;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 0px !important;
}
ul.ethnicity_list {
	display: inline-block;
}
table.innertable td {
	padding-left: 0px!important;
}
table.certificate {
	font-size: 11px;
}

.stepbox {
	width: 100px;
	height: 60px;
	border: 1px solid #DDD;
	display: block;
}