<table class="table" ng-controller="SubpplierSubmissionController">
<thead>
	<tr>
		<th>Buyer ID</th>
		<th>Buyer Name</th>
		<th>Selection Date</th>
		<th>Submission Status</th>
		<th>Submission Date</th>
	</tr>
</thead>
<tbody>
	{% for buyer in buyers %}
	<tr class='submission_{{ buyer.get_submission_status }}'>
		<td>{{ buyer.buyer.id }}</td>
		<td>{{ buyer.buyer.company_name }}</td>
		<td>{{ buyer.selection_date }}</td>
		<td>{{ buyer.get_submission_status }}</td>
		<td>{{ buyer.submission_date }}</td>
	</tr>
	{% empty %}
	<tr >
		<td colspan="6">No buyers yet to submission</td>
	</tr>
	{% endfor %}
</tbody>
</table>