{% extends "layout.html" %}

{% block full_container %}
<div class="container">
	<div class="row">
			{% include 'top-menu.html' %}
	</div>	
	
	<div class="row mainbody" style="margin-top: 20px;">
		
			{% block container %}
				<div class="col-md-6 col-md-offset-3">
					<div class="well">
						<h2>Forget your password?</h2>
						<form action="/subscriber/forget-password/" method="post">{% csrf_token %}
							<div class="input-group">
							    
							    <input type="email" name="email" class="form-control" placeholder="type your email here...">
							    <span class="input-group-btn">
							    	
							    	<input type="submit" class="btn btn-primary" value="send">
							    </span>
							</div><!-- /input-group -->
						</form>
					</div>
				</div>
			{% endblock container %}
	</div>
	
</div>

{% endblock %}