{% extends "layout.html" %}

{% block container %}
<div class="row" ng-controller='RegistrationController'>
	<div class="col-md-6 col-md-offset-3">
		<div class="jumbotron">
			<form name="registrationForm" action="/subscriber/registration/" method="post" novalidate>{% csrf_token %}
	<table class="table">
		<tr>
			<th>Get started now in 3 simple steps</th>
		</tr>
		<tr>
			<td>
				<input type="text" class="form-control " name="username" placeholder="Username" required ng-model='username' autocomplete="off">
			</td>
		</tr>
		<tr>
			<td>
				<input type="email" class="form-control " name="email" placeholder="Email" required ng-model='email' autocomplete="off">
			</td>
		</tr>
		<tr>
			<td>
				<input type="password" ng-model="password1" class="form-control " name="password1" placeholder="Password" required autocomplete="off">
				<div ng-show="registrationForm.password1.$error.required && registrationForm.$dirty && registrationForm.password1.$touched">
        			Field required
        		</div>
			</td>
		</tr>
		<tr>
			<td>
				<input type="password" ng-model="password2" class="form-control " name="password2" placeholder="Confirm Password" autocomplete="off">
				
        		<div ng-show="password1 != password2">
        			Password does not match!
        		</div>
			</td>
		</tr>
		<tr>
			<td>
				<input type="checkbox" class="" name="terms" required ng-model='terms'> I agree to the terms and conditions
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" class="btn btn-primary btn-lg btn-block" value="Register" ng-disabled="registrationForm.$invalid" >
			</td>
		</tr>
	</table>
	</form>
		</div>		
	</div>
</div>

{% endblock container %}
{% block page_js %}
<script type="text/javascript">
var pr = angular.module("pr", [], function ($interpolateProvider) {
        $interpolateProvider.startSymbol("{[{");
        $interpolateProvider.endSymbol("}]}");
});

pr.controller('RegistrationController',['$scope', '$http', function ($scope, $http) {
    $scope.init = function(){
        console.log("Registration controller...");
        
    }
    $scope.init();

}]);
</script>
{% endblock %}