<div class="row" ng-controller="CompContactController">
<div class="col-md-10">
	<form noviolate name="comp_contact_form" action="/supplier/profile/company/contacts/" method="post">{% csrf_token %}
	<input type="hidden" name="user" id="id_user" value="{{user.id}}">
	<input type="hidden" name="supplier" id="id_supplier" value="{{supplier.id}}">
	<input type="hidden" name="company" id="id_company" value="{{company.id}}">
	<table class="table">
		<tr>
			<td>
				<p class="bg-info" style="padding:5px;">Company Contacts</p>
			</td>
		</tr>
	</table>
		<table class="table">
		<tbody id="company_contact">
			<tr>
				<th width="250">
					<label for="id_name">Contact Name</label>
				</th>
				<td>
					<input type="text" class="form-control" name="contact_name" id="id_contact_name" ng-model="comp_contact.contact_name" value="{[{comp_contact.contact_name}]}" required autocomplete="off"> 
					<div ng-show="comp_contact_form.$dirty && comp_contact_form.contact_name.$error.required && comp_contact_form.contact_name.$touched">
						<p  class="bg-warning">Please enter contact name.</p>
					</div>
				</td>
				
			</tr>
			<tr>
				<th width="250">
					<label for="id_title">Contact Title</label>
				</th>
				<td>
					<input type="text" class="form-control" name="contact_title" id="id_contact_title" ng-model="comp_contact.contact_title" value="{[{comp_contact.contact_title}]}" autocomplete="off"> 
					<div ng-show="comp_contact_form.$dirty && comp_contact_form.contact_title.$error.required && comp_contact_form.contact_title.$touched">
						<p  class="bg-warning">Please enter contact title.</p>
					</div>
				</td>
				
			</tr>

			<tr>
				<th width="250">
					<label for="id_phone">Contact Phone</label>
				</th>
				<td>
					<table class="table innertable">
						<tr>
							<td width="70%">
								<input type="text" class="form-control" name="contact_phone" id="id_contact_phone" ng-model="comp_contact.contact_phone" value="{[{comp_contact.contact_phone}]}" autocomplete="off">
								<div ng-show="comp_contact_form.$dirty && comp_contact_form.contact_phone.$error.required && comp_contact_form.contact_phone.$touched">
									<p  class="bg-warning">Please enter contact phone.</p>
								</div>	
							</td>
							<td>
								Ext.
							</td>
							<td>
								<input type="text" class="form-control" name="contact_phone_ext" id="id_phone_ext" ng-model="comp_contact.contact_phone_ext" value="{[{comp_contact.contact_phone_ext}]}" autocomplete="off">	
							</td>
						</tr>
					</table>
					
				</td>
				
			</tr>

			<tr>
				<th width="250">
					<label for="id_fax">Fax</label>
				</th>
				<td>
					<input type="text" class="form-control" name="contact_fax" id="id_contact_fax" ng-model="comp_contact.contact_fax" value="{[{comp_contact.contact_fax}]}" autocomplete="off">
				</td>
				
			</tr>
			<tr>
				<th><label for="id_contact_email">Email</label></th>
				<td>
					<input type="email" id="id_contact_email" name="contact_email" ng-model="comp_contact.contact_email" class="form-control" value="{[{comp_contact.contact_email}]}" required autocomplete="off"> 
						
						<div ng-show="comp_contact_form.$dirty && comp_contact_form.contact_email.$error.required && comp_contact_form.contact_email.$touched">
							<p  class="bg-warning">Please enter contact email id.</p>
						</div>
						<div ng-show="comp_contact_form.$dirty && comp_contact_form.contact_email.$error.email && comp_contact_form.contact_email.$touched">
							<p  class="bg-warning">Please enter a valid email </p>
						</div>
				</td>
			</tr>
			</tbody>
			</table>
			<table class="table">
				<tr>
					<td>
						<p class="bg-info" style="padding:5px;">Reference</p>
					</td>
				</tr>
			</table>
			<table class="table">
				<tr>
					<th width="250">
						<label for="id_ref_company_name">Company Name</label>
					</th>
					<td>
						<input type="text" class="form-control" name="ref_company_name" id="id_ref_company_name" ng-model="comp_reference.ref_company_name" value="{[{comp_reference.ref_company_name}]}" autocomplete="off"> 
						
						<div ng-show="comp_contact_form.$dirty && comp_contact_form.ref_company_name.$error.required && comp_contact_form.ref_company_name.$touched">
							<p  class="bg-warning">Please enter company name.</p>
						</div>
					</td>
					
				</tr>

				<tr>
					<th width="250">
						<label for="id_ref_contact_name">Contact Name</label>
					</th>
					<td>
						<input type="text" class="form-control" name="ref_contact_name" id="id_ref_contact_name" ng-model="comp_reference.ref_contact_name" value="{[{comp_reference.ref_contact_name}]}" autocomplete="off"> 
						
						<div ng-show="comp_contact_form.$dirty && comp_contact_form.ref_contact_name.$error.required && comp_contact_form.ref_contact_name.$touched">
							<p  class="bg-warning">Please enter contact name.</p>
						</div>
					</td>
					
				</tr>

				<tr>
					<th width="250">
						<label for="id_phone">Phone</label>
					</th>
					<td>
						<input type="text" class="form-control" name="ref_phone" id="id_ref_phone" ng-model="comp_reference.ref_phone" value="{[{comp_reference.ref_phone}]}" autocomplete="off"> 
						<div ng-show="comp_contact_form.$dirty && comp_contact_form.ref_phone.$error.required && comp_contact_form.ref_phone.$touched">
							<p  class="bg-warning">Please enter phone number</p>
						</div>
					</td>
					
				</tr>

				<tr>
					<th width="250">
						<label for="id_ref_email">Email</label>
					</th>
					<td>
						<input type="text" class="form-control" name="ref_email" id="id_ref_email" ng-model="comp_reference.ref_email" value="{[{comp_reference.ref_email}]}" autocomplete="off"> 
						<div ng-show="comp_contact_form.$dirty && comp_contact_form.ref_email.$error.required && comp_contact_form.ref_email.$touched">
							<p  class="bg-warning">Please enter email id</p>
						</div>
						<div ng-show="comp_contact_form.$dirty && comp_contact_form.email.$error.email && comp_contact_form.ref_email.$touched">
							<p  class="bg-warning">Please enter a valid email </p>
						</div>
					</td>
					
				</tr>

				<tr>
					<th width="250">
						<label for="id_services_provided">Service Provided</label>
					</th>
					<td>
						<input type="text" class="form-control" name="ref_services_provided" id="id_ref_services_provided" ng-model="comp_reference.ref_services_provided" value="{[{comp_reference.ref_services_provided}]}" autocomplete="off"> 
						<div ng-show="comp_contact_form.$dirty && comp_contact_form.ref_services_provided.$error.required && comp_contact_form.ref_services_provided.$touched">
							<p  class="bg-warning">Please enter the service provided</p>
						</div>
					</td>
					
				</tr>
			</table>

		<table class="table">
			<tr>
				<th colspan="2">
					<button class="btn btn-primary">Save & Continue</button>
				</th>
			</tr>

		</table>
	</form>
</div>
</div>