<div class="navigationBar">
	<ul>
		<li><a href="/" id="selectedMenu">Home</a></li>
		<li><a href="/subscriber/get-started/">Get Started</a></li>
		<li><a href="/supplier/profile/">Profile</a></li>
		<li><a href="/supplier/search-corporation/">Search Corporation</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</div>